<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr" version="3.1.3.42154" targetFramework="net35" />
  <package id="bootstrap" version="3.0.2" targetFramework="net35" />
  <package id="Castle.Activerecord" version="3.0.0.1" targetFramework="net35" />
  <package id="Castle.Components.Validator" version="2.5.0" targetFramework="net35" />
  <package id="Castle.Core" version="2.5.2" targetFramework="net35" />
  <package id="Iesi.Collections" version="1.0.1" targetFramework="net35" />
  <package id="jQuery" version="1.9.1" targetFramework="net35" />
  <package id="NHibernate" version="3.0.0.4000" targetFramework="net35" />
  <package id="System.Data.SQLite" version="1.0.89.0" targetFramework="net35" />
</packages>