<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="activerecord" type="Castle.ActiveRecord.Framework.Config.ActiveRecordSectionHandler, Castle.ActiveRecord" />
  </configSections>
  <activerecord isweb="true">
    <config>
      <add key="connection.driver_class" value="NHibernate.Driver.SqlClientDriver">
        <add key="dialect" value="NHibernate.Dialect.MsSql2008Dialect">
          <add key="connection.provider" value="NHibernate.Connection.DriverConnectionProvider">
            <add key="connection.connection_string" value="Data Source=.\SQLEXPRESS; AttachDbFilename=|DataDirectory|\ActiveRecordDB.mdf; Integrated Security=True;User Instance=True">
              <add key="proxyfactory.factory_class" value="NHibernate.ByteCode.Castle.ProxyFactoryFactory, NHibernate.ByteCode.Castle"> </add>
            </add>
          </add>
        </add>
      </add>
    </config>
  </activerecord>
    <system.web>
      <compilation debug="false" targetFramework="4.0" />
      <httpModules>
        <add name="ar.sessionscope" type="Castle.ActiveRecord.Framework.SessionScopeWebModule, Castle.ActiveRecord" />
      </httpModules>
    </system.web>

  
</configuration>
