<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="activerecord" type="Castle.ActiveRecord.Framework.Config.ActiveRecordSectionHandler, Castle.ActiveRecord"/>
  </configSections>
  <activerecord isweb="true">
    <config>
     
      <add key="connection.driver_class" value="NHibernate.Driver.SQLite20Driver"/>
      <add key="dialect" value="NHibernate.Dialect.SQLiteDialect"/>
      <add key="connection.provider" value="NHibernate.Connection.DriverConnectionProvider"/>
      <add key="connection.connection_string" value="data source=|DataDirectory|\bbicms.sqlite;Version=3;"/>
      <add key="proxyfactory.factory_class" value="NHibernate.ByteCode.Castle.ProxyFactoryFactory, NHibernate.ByteCode.Castle"/>
      <add key="show_sql" value="true"/>
    </config>
  </activerecord>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>

    <httpModules>
      <add name="ar.sessionscope" type="Castle.ActiveRecord.Framework.SessionScopeWebModule, Castle.ActiveRecord.Web" />
    </httpModules>
  </system.web>
  <system.webServer>
  
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <!--<add name="ar.sessionscope" type="Castle.ActiveRecord.Framework.SessionScopeWebModule, Castle.ActiveRecord" />-->
      <add name="ar.sessionscope" type="Castle.ActiveRecord.Framework.SessionScopeWebModule, Castle.ActiveRecord.Web" />
    </modules>
    
  </system.webServer>
</configuration>